// colors
$primary: #64549e;
$secondary: #ee4f65;
$bg: #f8f9fc;
$white: #fff;
$black: #000;

// fonts
$font-main: "Poppins", serif;

// font weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// layout
$gutter: 10px;
$shadow: 2px 5px 25px rgba($black, 0.06);
$line: 1px solid #eceff6;

// animation
$transition: 0.3s;
